<h1> <%= @menu.name %></h1>

<h3> NOTE: later, all sections will be visible and items will be hidden behind jQuery drop-downs</h3>

<ul>
  <% @menu.menu_sections.each do |s| %>
  <li><%= link_to s.name, show_section_path(:menu_id => @menu.id, :sec_id => s.id) %></li>
    <ul> <% s.menu_items.each do |i|  %>
      <li>
        <%= i.name.upcase %>
        <%= i.description %>
        <%= i.price.to_i %>
        <%= i.clean_note %>
      </li>
      <% end %>
    </ul>
  <% end  %>
</ul>

<p>
  Add a new section to <%= link_to @menu.name, new_section_path(@menu.id)%>
</p>

<p>
  Preview <%= link_to @menu.name, preview_menu_path(@menu.id) %>
</p>

<div>
  <form action="/<%= @menu.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="menu_name" placeholder="new menu name">
    <input type="submit" value="Edit Name">
  </form>
</div>

<div>
  <form action="/<%= @menu.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Menu">
  </form>
</div>
