<div class="edit-window">
  <div class="section-container">
    <% @menu.menu_sections.each do |s| %>
    <li class="section-name section-<%=s.id%>">
      <%= link_to s.name, show_section_path(:menu_id => @menu.id, :sec_id => s.id) %>
    </li>
    <% end %>
  </div>
  <div class="item-container">
    <ul><% @menu.menu_items.each do |i|%>
        <li class="item-details section-<%=i.menu_section_id%>">
          <%= i.name.upcase %>
          <%= i.description %>
          <%= i.price.to_i %>
          <%= i.clean_note %>
        </li>
      <% end  %>
    </ul>
  </div>
</div>

  
<div class="to-go-in-footer"
  <h3><strong>Everything below here will eventually go into footer</strong></h3>
  <p>
    Add a new section to <%= link_to @menu.name, new_section_path(@menu.id)%>
  </p>

  <p>
    Preview <%= link_to @menu.name, preview_menu_path(@menu.id) %>
  </p>

  <div>
    <form action="/<%= @menu.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="PATCH">
      <input type="text" name="menu_name" placeholder="new menu name">
      <input type="submit" value="Edit Name">
    </form>
  </div>

  <div>
    <form action="/<%= @menu.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Menu">
    </form>
  </div>
</div>
