<h1>Sections index</h1>

<% @menu_sections.each do |s| %>
  <ul>
    <li><%= link_to s.name, show_section_path(s.id)%></li>
    <% if s.description != nil %>
      <div><%= s.description %></div>
    <% end %>
    <ul>
      <% @menu_items.where(menu_section_id: s.id).each do |i|%>
        <div class="menu-item">
          <div class="item-name"><%= i.name%></div>
          <div class="item-description"><%= i.description%></div>
          <div class="item-note"><%= i.note%></div>
          <div class="item-price"><%= i.price%></div>
        </div>
        <br>
      <% end %>
    </ul>
  </ul>
<% end %>
