<h1> <%= @menu_section.name %></h1>

<% if @menu_section.description != nil %>
  <div><%= @menu_section.description %></div>
<% end %>

<!-- add conditional: if menu section has no items (i.e. when a new one is
created and user is brought to this page, which is empty) there is a prompt
to start entering items using form below -->
    <ul>
      <% @menu_items.where(menu_section_id: @menu_section.id).each do |i|%>
        <div class="menu-item">
          <div class="item-name"><%= i.name%></div>
          <div class="item-description"><%= i.description%></div>
          <div class="item-note"><%= i.note%></div>
          <div class="item-price"><%= i.price%></div>
        </div>
        <br>
      <% end %>
    </ul>

<h2> [form to add new MenuItem to this section will go here]</h2>
<!-- form should include <textarea> for description, checkboxes for notes,-->

<h2><%= link_to "<-- return to main menu", "/" %></h2>
